---
layout: default
title: Training
suppress_header: true
---
<div class="wrapper">
  <div class="training-picture-container">
    <div class="training-overlay">
      <div class="training-content">
        <h1>Training</h1>
        <p> We organize training workshops to help your organizations implement Git & GitLab quickly.</p>
        <p> Please fill out the form below if you are interested.</p>
      </div>
    </div>
  </div>
  <div class="container training-form">
    <div id="wufoo-wnwsmb80wogkgf">
    Fill out my <a href="https://gitlab.wufoo.com/forms/wnwsmb80wogkgf">online form</a>.
    </div>
    <script type="text/javascript">var wnwsmb80wogkgf;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'gitlab',
    'formHash':'wnwsmb80wogkgf',
    'autoResize':true,
    'height':'751',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { wnwsmb80wogkgf = new WufooForm();wnwsmb80wogkgf.initialize(options);wnwsmb80wogkgf.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
  </div>
</div>

<link href="/stylesheets/sticky_footer.css" rel="stylesheet">
<link href="/stylesheets/training.css" rel="stylesheet">
