---
layout: default
title: Consultancy
suppress_header: true
---

<div class="wrapper">
  <div class="title">
    <h1>PRESS
    <br />
    <small>information for journalists</small></h1>
  </div>

  <div class="list">

    <div class="item listing">
      <h2>ARTICLES
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="http://thenextweb.com/insider/2014/06/04/github-rival-gitlab-building-business-just-0-1-paying-customers/">The Next Web</a>
        <a class="btn btn-default" href="https://www.dropbox.com/s/7t5wyoq3b8a3dp7/FD-20140719-06006002.pdf">Financieele Dagblad (Dutch)</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>PODCASTS
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="http://thechangelog.com/103/">The Changelog</a>
        <a class="btn btn-default" href="http://episodes.gitminutes.com/2013/11/gitminutes-25-sytse-sijbrandij-from.html">Git Minutes</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>LOGOS
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="https://gitlab.com/gitlab-com/gitlab-artwork/repository/archive.zip">Artwork (zip)</a>
        <a class="btn btn-default" href="https://gitlab.com/gitlab-com/gitlab-artwork/tree/master">Repository</a>
      </div>
      </h2>
    </div>

    <div class="item listing">
      <h2>TWITTER
      <br />
      <div class="btn-group-vertical">
        <a class="btn btn-default" href="https://twitter.com/gitlabhq">Our tweets</a>
        <a class="btn btn-default" href="https://twitter.com/gitlabhq/favorites">What people say</a>
      </div>
      </h2>
    </div>

    <a href="/blog/" class="item link">
      <h2>BLOG
      <br />
      <small>our news releases</small>
      </h2>
    </a>

    <a href="/about/" class="item link">
      <h2>ABOUT
      <br />
      <small>our values and goals</small>
      </h2>
    </a>

    <a href="/team/" class="item link">
      <h2>TEAM
      <br />
      <small>our team</small>
      </h2>
    </a>

    <a href="mailto:sales@gitlab.com" class="item link">
      <h2>CONTACT
      <br />
      <small>please contact us at sales@gitlab.com</small>
      </h2>
    </a>

  </div>
</div>

<link href="/stylesheets/sticky_footer.css" rel="stylesheet">
<link href="/stylesheets/press.css" rel="stylesheet">
