---
layout: default
title: Jobs
---
<div class="container vacancies">

  <div class="vacancy">
    <h1>Sales lead
    <small>America / Europe</small>
    </h1>

    <p>
    Gitlab B.V. is quickly becoming more popular amongst organisations throughout the world to manage their source code.
    To keep up with our growth Gitlab B.V. is looking for a sales lead.
    Our sales lead will be responsible for GitLab subscription deals for Fortune 500 companies and large governmental organizations.
    We already have enough inbound interest from these organizations but we need you to lead the procurement process.
    You will also need to articulate our sales strategy and tactics, shape marketing materials and lead our account manager(s).
    </p>

    <p>
    As our sales lead you will need to have B2B sales experience.
    You would need to have closed large deals ($100k+) before.
    Experience selling open source software (RedHat, MySQL, etc.) in the United States would be ideal.
    </p>

    <p>
    Apart from a basic salary we can offer a large performance based bonus and/or a significant stake in the company.
    </p>

    <p>
    We're a distributed company and you'll mainly work remote.
    We welcome candidates from both America and Europe.
    Most of our customers are in the continental U.S. time zones.
    We're considering opening an office in San Francisco in the coming years.
    </p>

    <p>Interested in joining our motivated team? Send us a short motivation plus your resume to sytse at gitlab dot com</p>

    <p>
    <small>
    Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
    </small>
    </p>
  </div>

  <div class="vacancy">
    <h1>service engineer
    <small>North- or South America</small>
    </h2>

    <p>
      GitLab B.V. is growing quickly and we would love to grow our team with a service engineer.
      The rising popularity of GitLab means that our professional services are in high demand.
      If you got the skills to help to our clients we would love to talk to you.
    </p>

    <p>
      Because most of our clients are in the United States you will need to be in a timezone near there.
      We are open to candidates you are located from Pacific Standard Time (-8) to Atlantic Standard Time (-4).
      If you are a vampire you can be located from Moscow Standard Time (+4) to Singapore Time (+8).
      We're open to candidates from both inside and outside the United States.
    <p>
      You would be engaging with our customers, this can be anything from as small advertising firm, a university to Fortune 100 clients.
      You have appointments throughout the day with clients that have filled out a small questionnaire.
      You get remote access to their GitLab server(s) and diagnose, upgrade, troubleshoot, configure, backup and reinstall it.
      During the the appointment you keep in touch with the client through chat or video conference.
    </p>

    <p>
      When you do not have an appointment you engage with the rest of the core team to improve GitLab.
      You fix problems, add features, improve documentation, polish the website and engage with people on various forums.
    </p>

    <p>
      You need to have experience with Unix and need to be able to program.
      Most clients will run RedHat or Debian variants and GitLab is written in Ruby on Rails.
      But we are open to people who for example love Solaris and C, as long as you like Unix and programming you will fit right in.
      You don't have to be an English native but good written and verbal English is a must to engage with clients.
    </p>

    <p>
      At GitLab B.V. we mostly work from home and love to go to Rails conferences (paid for by GitLab B.V.).
      We are looking for people who can handle and enjoy the freedom that comes with working from home.
      Our watercoolers are Slack and a daily Hangout.
    </p>

    <p>
      Interested? Please send an email to sytse at gitlab dot com with a resume or a link to your LinkedIn profile.
    </p>

    <p>
      <small>
        Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
      </small>
    </p>
  </div>
</div>

<link href="/stylesheets/jobs.css" rel="stylesheet">
