---
layout: default
title: GitLab Enterprise Edition
---
<div id="content">
  <div class="container txt-lefty">         
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <p>
            The Enterprise Edition is made for the enterprise with exclusive features aimed at larger organizations.
            <br />
            It contains copyrighted code that requires you to have a valid <a href="/subscription">subscription</a>.
            <br />
            GitLab EE is on-premises software that you can install and use on your server(s).
          </p>
          <div class="button-holder">
            <a class="btn btn-success btn-lg" href="/subscription/">Order a subscription</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="col-sm-9 col-md-9">   
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Feature comparision between Community Edition and Enterprise Edition</strong>
                <br>

              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Feature</th>
                    <th>Community Edition</th>
                    <th>Enterprise Edition</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>All the <a href='/gitlab-ce-features/'>features of the Community Edition</a></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Groups consisting of multiple people with a shared namespace for projects</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Share a project with other groups</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>LDAP user authentication (also compatible with Active Directory)</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>LDAP group synchronization (also compatible with Active Directory)</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Git hooks (commit message must mention an issue, no tag deletion, etc.)</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Branded login page </td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Mention JIRA ticket from GitLab</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Close JIRA issues with GitLab commits</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Display merge request status for builds on Jenkins CI</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Omnibus package supports configuring an external PostgreSQL database</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Omnibus package supports configuring an external MySQL database</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Omnibus package supports log forwarding</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td>Create and remove admins based on an LDAP group</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                </tbody>
              </table>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
