<div class="span3">
  <a class="twitter-timeline" href="https://twitter.com/gitlabhq" data-widget-id="412993189000122368">Tweets by @gitlabhq</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
