---
layout: default
title: Company
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <a href="/blog/"><h2>Blog</h2></a>
        <p>The latest news</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/blog"><h2>Press</h2></a>
        <p>Information for journalists</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/about"><h2>About Us</h2></a>
        <p>The vision of GitLab B.V.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/team/"><h2>Team</h2></a>
        <p>Meet our team</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/jobs/"><h2>Jobs</h2></a>
        <p>Join our team</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/terms/"><h2>Terms</h2></a>
        <p>Term, conditions and policies</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/contact/"><h2>Contact Us</h2></a>
        <p>How to get in touch</p>
      </div>
    </div>
  </div>
</div>
